{{ form_start(form) }}
<div class="d-flex justify-content-center">
	<div>
		{{ form_widget(form.q, {'attr': {'class' : 'form-control'}}) }}
		<button class="btn btn-primary" type="submit" id="btn-addon2">
			<i class="fa-solid fa-magnifying-glass"></i>
		</button>
	</div>
</div>
{{ form_end(form) }}
