{% extends 'base.html.twig' %}

{% block title %}Outils
{% endblock %}

{% block body %}
	<div class="d-flex">
		{% for outil in outils %}
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{outil.nom}}</h5>
					<p class="card-text">{{outil.descriptif}}</p>
					<a href="{{ path('outil_detail', {id: outil.id}) }}" class="btn btn-primary">Voir l'outil</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
